form {
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  color: #360246;
  font-size: 24px;
  margin-bottom: 20px;
  justify-content: center;
  width: 100%;
  
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
}

button[type="submit"],
a.btn {

  padding: 10px 20px;
  border-radius: 3px;
  font-size: 16px;
  color: #fff;
  background-color: #c300ffe8;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-right: 10px;
}

button[type="submit"]:hover,
a.btn:hover {
  background-color: #c18ac9;
}
.cambio {
  padding: auto;
  margin: auto;
  width: 100%;
}
button.btn-secondary {
  color: #333;
  background-color: #f8f9fa;
  border: 1px solid #ccc;
}

button.btn-secondary:hover {
  background-color: #e9ecef;
}
.botones{

  width: 100%;
}
.active {
  font-weight: bold;
}
