<h2>Editar usuario</h2>

<!--el formulario no valida los campos-->
<!--No conviene editar el nombre(campo clave!) y la contraseña conviene en un caso de uso aparte-->

<form (ngSubmit)="onUpdateUsuario()">
  
  <div class="form-group">
    <label for="name">Nombre</label>
    <input type="text" class="form-control" id="name" [(ngModel)]="usuarioToEdit!.nombre" name="name">
  </div>
  <div class="form-group">
    <label for="mail">Mail</label>
    <input type="email" class="form-control" id="mail" [(ngModel)]="usuarioToEdit!.mail" name="mail" required>
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input type="password" class="form-control" id="password" [(ngModel)]="usuarioToEdit!.password" name="password">
  </div>
  <button type="submit" class="btn btn-primary mr-2" [disabled]="editing">Guardar</button>
  <button type="button" class="btn btn-secondary" (click)="cancelEdit()">Cancelar</button>

</form>
