form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input[type="text"],
input[type="number"],
textarea {
  padding: 8px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-top: 5px;
  margin-bottom: 10px;
}



// select {
//   padding: 8px;
//   font-size: 16px;
//   border-radius: 3px;
//   border: 1px solid #ccc;
//   margin-top: 5px;
//   margin-bottom: 10px;
//   width: 100%;
// }
.miProyecto {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
}

.boton {
  padding: 10px 20px;
  background-color: #c300ffe8;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #c300ffe8;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #d086e2;
}
