<form [formGroup]="formEmprendimiento" (ngSubmit)="onUpdateEmprendimiento()">
  <label>
    Nombre del emprendimiento:
    <input type="text" name="nombreEmprendimiento" formControlName="nombreEmprendimiento">
  </label>
  <br>
  <label>
    Descripción:
    <textarea formControlName="descripcion" name="descripcion"></textarea>
  </label>
  <br>
  <label>
    Banner:
    <input type="text" formControlName="banner" name="banner">
  </label>
  <label>
    Categorías:    
      <ng-multiselect-dropdown 
        [placeholder]="'Seleccione una o varias categorías'"
        [data]="dropdownListCategorias"
        [formControl]="f.categorias" 
        [settings]="dropdownSettings">  
      </ng-multiselect-dropdown>    
  </label>
  <br>
  <label>
    Monto del manguito:
    <input type="number" formControlName="montoManguito" name="montoManguito" required>
  </label>
  <br>
  <label>
    ¿Mostrar manguitos recibidos?
    <input type="checkbox" formControlName="montoManguito" name="mostrarManguitos">
  </label>
  <br>
  <label>
    ¿Mostrar top de donadores?
    <input type="checkbox" formControlName="mostrarTopDonadores" name="mostrarTopDonadores">
  </label>
  <br>
  <br>
  <button *ngIf="formEmprendimiento.get('id'); else crearEmprendimiento" type="submit">Actualizar
    emprendimiento</button>
  <ng-template #crearEmprendimiento>
    <button (click)="onCreateEmprendimiento()" type="button">Crear emprendimiento</button>
  </ng-template>
</form>