<body>

  <div id="contenedor">
    <div id="contenedorcentrado">
      <div id="login">
        <form [formGroup]="formPassword" (ngSubmit)="changePassword()" class="formu" id="formu">
          <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" name="password" formControlName="password">
          </div>
          <label class="col" [ngClass]="formPassword.controls['password'].hasError('required') ? 'text-danger' : 'text-success'">
            <i class="material-icons">
              {{ formPassword.controls['password'].hasError('required') ? 'cancel' : 'check_circle' }}
            </i>
            El campo es requerido.
          </label>
          <label class="col"
          [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('minlength') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('minlength') ? 'cancel' : 'check_circle' }}
          </i>
            La contraseña debe tener al menos 8 caracteres.
          </label>
          <label class="col"
          [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasNumber')? 'cancel' : 'check_circle' }}
          </i>
            La contraseña debe tener al menos un número.
          </label>
          <label class="col"
          [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
          </i>
            La contraseña debe tener al menos una letra mayúscula.
          </label>
          <label class="col"
          [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
          </i>
            La contraseña debe tener al menos una letra minúscula.
          </label>
          <label class="col"
          [ngClass]="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons">
            {{ formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' : 'check_circle' }}
          </i>
            La contraseña debe tener al menos un caracter especial.
          </label>
          <div class="form-group">
            <label>Repita la contraseña:</label>
            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword">
          </div>
          <label class="text-danger" *ngIf="formPassword.controls['confirmPassword'].hasError('required')">
            El campo es requerido.
          </label>
          <label class="text-danger" *ngIf="formPassword.controls['confirmPassword'].hasError('NoPassswordMatch')">
            La contraseña no concide.
          </label>
          <input type="submit" class="btn" id="login" value="Guardar"
            [disabled]="formPassword.invalid || processingRequest">
          <input type="button" class="btn" id="login" value="Cancelar" (click)="cancelEdit()">
        </form>
      </div>
    </div>
  </div>
</body>