<body>

  <div id="contenedor">
    <div id="contenedorcentrado">
      <div id="login">
        <form [formGroup]="formPassword" (ngSubmit)="changePassword()" class="formu" id="formu">
          <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-control" name="password" formControlName="password">
          </div>
          <label class="text-danger" *ngIf="formPassword.controls['password'].hasError('required')">
            El campo es requerido.
          </label>
          <label class="text-danger"
            *ngIf="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('minlength')">
            La contraseña debe tener al menos 8 caracteres.
          </label>
          <label class="text-danger"
            *ngIf="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasNumber')">
            La contraseña debe tener al menos un número.
          </label>
          <label class="text-danger"
            *ngIf="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasCapitalCase')">
            La contraseña debe tener al menos una letra mayúscula.
          </label>
          <label class="text-danger"
            *ngIf="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSmallCase')">
            La contraseña debe tener al menos una letra minúscula.
          </label>
          <label class="text-danger"
            *ngIf="formPassword.controls['password'].hasError('required') || formPassword.controls['password'].hasError('hasSpecialCharacters')">
            La contraseña debe tener al menos un caracter especial.
          </label>
          <div class="form-group">
            <label>Repita la contraseña:</label>
            <input type="password" class="form-control" name="confirmPassword" formControlName="confirmPassword">
          </div>
          <label class="text-danger" *ngIf="formPassword.controls['confirmPassword'].hasError('required')">
            El campo es requerido.
          </label>
          <label class="text-danger" *ngIf="formPassword.controls['confirmPassword'].hasError('NoPassswordMatch')">
            La contraseña no concide.
          </label>
          <input type="submit" class="btn btn-success" id="Breg" value="Guardar"
            [disabled]="formPassword.invalid || processingRequest">
          <input type="button" class="btn btn-success" id="cancelar" value="Cancelar" (click)="cancelEdit()">
        </form>
      </div>
    </div>
  </div>
</body>