<body>

  <div id="contenedor">
  <div id="contenedorcentrado">
  <div id="login">
    <form (ngSubmit)="onSubmit()" class="formu" id="loginform">

      <div class="form-group" >
        <label>Nombre de usuario:</label>
        <input type="text" class="form-control" [(ngModel)]="usuario.nombre" name="nombre">
      </div>
      <div class="form-group">
        <label>Contraseña:</label>
        <input type="password" class="form-control" [(ngModel)]="usuario.password" name="password">
      </div>
      <input type="submit" class="btn btn-success" id="Breg" value="Login">

    </form>
    <div id="derecho">
      <div class="titulo">
        Bienvenido
      </div>
      <hr>
      <div class="pie-form">
        <a href="#">¿Perdiste tu contraseña?</a>
        <a href="/registro">¿No tienes Cuenta? Registrate</a>
        <hr>
        <a href="#">« Volver</a>
      </div>
    </div>
    </div>
  </div>
  </div>
</body>
