header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  color: rgba(233, 120, 8, 0.863);
  height: 100px;
  align-items: center;
  display: flex;
}
.menu-right {
  font-size: 30px;
  display: flex;


}
.logo  img{
  width: 70%;
  height: 100px;
  display: flex;
  filter: drop-shadow(1px 1px 1px rgba(235, 232, 232, 0.233));
  padding-left: 30px;
  padding-bottom: 0.5em;

}
.menu-right .name{
  padding-top: .8em;
}

header>nav>ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}
ul li{
  font-size: 20px;
}
ul > li>a {
  text-decoration: none;
  color: rgba(233, 120, 8, 0.863);
  font-family:Oswald;
}
.menu .nav-item .nav-link:hover {
  color: rgb(20, 11, 1);
}
header .name h2 {
  font-family:Oswald;
}
