<header>
  <div class="menu-right">
    <div class="logo">
      <img src="assets/img/manguito.png" alt="manguito">
    </div>

    <div class="name">
      <h2>Manguito</h2>
    </div>
  </div>

  <nav>
    <ul class="menu">
      <li class="nav-item">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link" title="Home">Home</a>
      </li>
      <li class="nav-item">
        <a *showForRoles="['ROLE_ADMIN']" routerLink="/categorias" routerLinkActive="active"
          class="nav-link">Categorias</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a routerLink="/login" routerLinkActive="active" class="nav-link">Iniciar sesión</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn()">
        <a routerLink="/registro" routerLinkActive="active" class="nav-link">Registrarse</a>
      </li>
      <li class="nav-item">
        <a routerLink="/edit" routerLinkActive="active" *ngIf="isLoggedIn()" class="nav-link">Editar Perfil</a>
      </li>
      <li class="nav-item">
        <a routerLink="/editPassword" routerLinkActive="active" *ngIf="isLoggedIn()" class="nav-link">Cambiar contraseña</a>
      </li>
      <li class="nav-item">
        <a routerLink="/dashboard" routerLinkActive="active" *ngIf="isLoggedIn()" class="nav-link">Mi proyecto</a>
      </li>
      <li class="nav-item">
        <a *showForRoles="['ROLE_ADMIN']"  routerLink="/redes" routerLinkActive="active" class="nav-link">Redes</a>
      </li>
      <li class="nav-item">
        <a routerLink="#" *ngIf="isLoggedIn()" class="nav-link" (click)="logout()">Cerrar sesión</a>
      </li>
    </ul>
  </nav>
</header>
