    <header>
      <div class="menu-right">
          <div class="logo">
              <img src="assets/img/manguito.png" alt="manguito">
          </div>

          <div class="name">
              <h2>Manguito</h2>
          </div>
      </div>

      <nav>
          <ul class="menu">
              <!--    <li class="nav-item"><a href="#home-section" class="nav-link" title="Inicio">Inicio</a></li>-->
              <li class="nav-item"><a href="/" class="nav-link btn btn-outline-success" title="Home">Home</a></li>
              <li class="nav-item"><a href="/register" class="nav-link btn btn-outline-success" title="Registrate">Registra tu
                      proyecto</a></li>
            <!--  <li class="nav-item"><a href="/emprendimiento" class="nav-link btn btn-outline-success" title="Registrate">Emprendimiento</a></li>-->
              <li class="nav-item"><a href="/login" class="nav-link btn btn-outline-success">Iniciar Sesion</a>
              </li>
              <li class="nav-item"><a href="/categorias" class="nav-link btn btn-outline-success">Categorias</a></li>
              <!--   <li class="nav-item"><a href="#contact-section" class="nav-link" title="Contacto">Contacto</a></li>-->
          </ul>
      </nav>
  </header>
