<form (ngSubmit)="createNewEmp()" #emprendimientoForm="ngForm">
  <label>
    Nombre del emprendimiento:
    <input [(ngModel)]="emprendimiento.nombreEmprendimiento" type="text" name="nombreEmprendimiento" required>
  </label>
  <br>
  <label>
    Descripción:
    <textarea [(ngModel)]="emprendimiento.descripcion" name="descripcion" required></textarea>
  </label>
  <br>
  <label>
    Categorías:
    <select [(ngModel)]="emprendimiento.categorias" name="categorias" multiple>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria.nombreCategoria }}</option>
    </select>
  </label>
  <br>
  <br>
  <label>
    Banner:
    <input [(ngModel)]="emprendimiento.banner" type="text" name="banner" required>
  </label>
  <br>
  <label>
    Monto del manguito:
    <input [(ngModel)]="emprendimiento.montoManguito" type="number" name="montoManguito" required>
  </label>
  <br>
  <label>
    ¿Mostrar manguitos recibidos?
    <input [(ngModel)]="emprendimiento.mostrarManguitos" type="checkbox" name="mostrarManguitos">
  </label>
  <br>
  <label>
    ¿Mostrar top de donadores?
    <input [(ngModel)]="emprendimiento.mostrarTopDonadores" type="checkbox" name="mostrarTopDonadores">
  </label>
  <br>
  <br>

  <button type="submit">Crear emprendimiento</button>
  <div *ngIf="mensaje" class="alert alert-success">
    {{ mensaje }}
  </div>


</form>
