<div class="proyecto" (click)="mostrarDetalles()">
  <img [src]="emprendimiento.banner" alt="image">
  <!--<button (click)="mostrarDetalles()">{{emprendimiento.nombreEmprendimiento}}</button>-->
  <div *ngIf="mostrarDetalle">
    <app-detalle-emprendimiento [emprendimiento]="emprendimiento"></app-detalle-emprendimiento>
  </div>
  <h3>{{emprendimiento.nombreEmprendimiento}}</h3>
  <p>{{emprendimiento.descripcion}}</p>
  <small *ngIf="emprendimiento.categorias.length > 0">{{emprendimiento.categorias[0].nombreCategoria}}</small>
  <!--<small *ngIf="emprendimiento.redeSociales.length > 0">{{emprendimiento.redeSociales[0].url}}</small>-->
  <div *ngIf="emprendimiento.mostrarManguitos">
  <h3>{{emprendimiento.manguitosRecibidos}}</h3></div>
</div>
