.proyecto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-bottom: 15px;
}

.proyecto img {
  width: 100%;
  max-width: 400px;
  height: 200px;;
  margin-bottom: 10px;
  padding-top: 10px;
}

.proyecto button {
  background-color: #aa00cc;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.proyecto h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.proyecto small {
  display: block;
  font-size: 16px;
  margin-bottom: 5px;
}
