<main>
  <section>
    <div class="services">
      <div>Proyectos</div>
    </div>
    <div class="input-buscar">

      <input type="text" class="form-control" placeholder="Proyecto" aria-label="Username"
        aria-describedby="input-group-button-right">
      <button class="btn btn-lg btn-success" type="submit">Buscar</button>
    </div>


  </section>
  <section class="Unnombre">
  <ul class="categorias">
    <li class="nav-item"><a href="/arte" class="nav-link btn btn-outline-success" title="Home">Arte</a></li>
    <li class="nav-item"><a href="/ingenieria" class="nav-link btn btn-outline-success" title="Registrate">Ingenieria</a></li>
    <li class="nav-item"><a href="/video" class="nav-link btn btn-outline-success">Videos</a>
    </li>
  </ul>
  </section>
  <section class="proyectos">
    <!-- for para recorrer el arreglo de emprendimientos --->
      <div *ngFor="let emprendimiento of emprendimientos">
        <img [src]="emprendimiento.banner" alt="image">
        <h2>{{emprendimiento.nombreEmprendimiento}}</h2>
        <h2>{{emprendimiento.descripcion}}</h2>
        <small>{{emprendimiento.categorias}}</small>
        <h3>{{emprendimiento.manguitosRecibidos}}</h3>
      </div>
  </section>

</main>
