<div class="contenedor_principal" align="center">
  <div>
      <div class="conteiner">
          <div class="contenedor_titulo">
            <h1>{{emprendimiento.nombreEmprendimiento}}</h1>
          </div>
          <img [src]="emprendimiento.banner" alt="image">
          <br>


            <!--<h2>{{emprendimiento.id}}</h2>-->
          <h2>{{emprendimiento.descripcion}}</h2>
          <h3>{{emprendimiento.manguitosRecibidos}}</h3>

          <label *ngIf="emprendimiento.categorias.length > 0" for="categorias">Categorías:</label>
          <div *ngFor="let categoria of categorias; let i = index" [attr.data-index]="i">
              <p>{{emprendimiento.categorias[i].nombreCategoria}}</p>
          </div>


          <label for="categorias">Redes Sociales:</label>
          <div *ngFor="let redSocial of redeSociales">
              <p>{{redSocial.perfilSocial}}</p>
              <p>{{redSocial.url}}</p>
          </div>

      </div>
      <div class="boton_atras d-grid gap-2 col-3 mx-auto">
          <button class="btn btn-primary active boton" data-bs-toggle="button" autocomplete="off" aria-pressed="true"
              routerLink="/">Salir</button>
              <button class="btn btn-primary active boton" data-bs-toggle="button" autocomplete="off" aria-pressed="true"
              routerLink="/">Donar</button>
      </div>
  </div>
</div>
