<div class="contenedor_principal" align="center">
  <div>
      <div class="conteiner">
          <div class="contenedor_titulo">
            <h1>{{detalleEmprendimiento.nombreEmprendimiento}}</h1>
          </div>
          <img [src]="detalleEmprendimiento.banner" alt="image">
          <br>


            <!--<h2>{{detalleEmprendimiento.id}}</h2>-->
          <h2>{{detalleEmprendimiento.descripcion}}</h2>
          <h3>{{detalleEmprendimiento.manguitosRecibidos}}</h3>
            <label *ngIf="detalleEmprendimiento.categorias.length > 0" for="categorias">Categorías:</label>
            <div *ngFor="let categoria of detalleEmprendimiento.categorias; let i = index" [attr.data-index]="i">
                <p>{{categoria.nombreCategoria}}</p>
            </div>

            <label for="categorias">Redes Sociales:</label>
            <div *ngFor="let redSocial of detalleEmprendimiento.redeSociales">
                <p>{{redSocial.nombreRed}}</p>
                <p>{{redSocial.id}}</p>
            </div>

        </div>
        <div class="boton_atras d-grid gap-2 col-3 mx-auto">
            <button class="btn btn-primary active boton" data-bs-toggle="button" autocomplete="off" aria-pressed="true"
                routerLink="/">Salir</button>
                <button class="btn btn-primary active boton" data-bs-toggle="button" autocomplete="off" aria-pressed="true"
                routerLink="/">Donar</button>
        </div>
    </div>
  </div>

