<body>
  <section class="buscar">
    <div class="search-bar">
      <form (ngSubmit)="buscarPorNombre()">
        <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="Buscar emprendimientos">
        <button type="submit" class="search-button">Buscar</button>
      </form>
      </div>
  </section>
  <main>
    <div>
      <section class="categorias">
        <app-listar-categorias></app-listar-categorias>
      </section>
    </div>
    <section class="emprendimientos">
        <div class="emprendimientos-list" *ngIf="emprendimientos && mostrarResultadosCategorias; else noResults">
          <app-emprendimiento [emprendimiento]="emprendimiento" *ngFor="let emprendimiento of emprendimientos"></app-emprendimiento>
        </div>
        <ng-template #noResults>
          <div class="no-results-message"*ngIf="mostrarResultadosCategorias">
            No se encontraron resultados para la categoría seleccionada.
          </div>
        </ng-template>

      <div class="emprendimientos-list" *ngIf="mostrarResultadosBusqueda; else noResult">
        <app-emprendimiento [emprendimiento]="emprendimiento" *ngFor="let emprendimiento of resultados">
        </app-emprendimiento>
      </div>
      <ng-template #noResult>
        <div class="no-results-message"*ngIf="mostrarResultadosBusqueda">
          No se encontraron resultados para la busqueda ingresada.
        </div>
      </ng-template>
    </section>

    <section class="banner-principal">
      <div class="info-foto">
        <p>¡Podemos avanzar juntos!</p>
        <br><br>
        Apoyá a emprendedores de todo el país y sumate a nuestra comunidad con tu proyecto.
      </div>
    </section>
  </main>
</body>
