.logo{
  padding:.5em;
  width: 5em;
}
.navbar-nav .disabled{
  color:rgb(8, 80, 8);

}
.card{
  background-blend-mode: color;
  box-sizing: border-box;
  height: 80px;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  font-size: large;
}
.object-cover {
  object-fit: cover;
}

nav div .navbar-nav a {
  color: rgb(134, 134, 134);
}

footer {
  font-size: 0.9rem;
  background-color: #103a57;
}

footer a {
  text-decoration: none;
  color: white
}
.banner-principal {
  display:flex;
  flex-direction: column;
  background:url('/assets/img/pexels-jess-bailey-designs-876467.jpg'),rgba(216, 190, 190, 0.356);
  background-blend-mode: color;
  box-sizing: border-box;
  height: 70vh;
  background-size:cover;
  background-repeat: no-repeat;
  font-family: Georgia, 'Times New Roman', Times, serif;
  justify-content: center;
  font-size: large;
  color:  rgb(253, 252, 252);
}

.services{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: 50px;
  padding-top: 0.5em;

}

.formulario{
padding: 10em 10em 10em 10em;
background-color: rgb(230, 189, 148);

}

.banner-principal .info-foto {
  color:  rgb(68, 65, 63);
  font-size: xx-large;

}
.banner-principal .info-foto p {
  justify-content: center;
  color: rgb(0, 0, 0);
  justify-content: flex-end;
  font-size: 50px;
}



.links a{
margin-left: 4px;
color: white;
}
.input-buscar{

  height: auto;
  display:flex;
  justify-content: center;
  padding: 200px;


}
.input-buscar{

border: 2px rgb(8, 8, 8); }

footer{
  background-color:  rgb(247, 155, 64);
  padding-top: .5em;
  padding-bottom: 0%;
  background-position-y: end;
}

