<div>
  <nav class="navbar">
    <ul>
      <li *ngFor="let category of categorias">
        <button (click)="obtenerEmprendimientosPorCategoria(category.nombreCategoria)">{{ category.nombreCategoria }}</button>
      </li>
    </ul>
  </nav>
</div>
<div *ngIf="emprendimientos.length > 0">
  <ul>
    <app-emprendimiento
    [emprendimiento]="emprendimiento"
     *ngFor="let emprendimiento of emprendimientos">
    </app-emprendimiento>
  </ul>
</div>
<div *ngIf="emprendimientos.length == 0 && categoriaSeleccionada !== ''">
  <p>No hay emprendimientos con esa categoría</p>
</div>
