<div class="formulario">
  <form class="row g-3">
      <div class="row">
          <div class="col-md-6">
              <label for="inputName" class="form-label">Nombre</label>
              <input type="text" class="form-control" placeholder="Nombre" aria-label="First name" />
          </div>
          <div class="col-md-6">
              <label for="inputEmail4" class="form-label">Apellido</label>
              <input type="text" class="form-control" placeholder="Apellido" aria-label="Last name" />
          </div>


      <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail4" />
      </div>
      <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Contraseña</label>
          <input type="password" class="form-control" id="inputPassword4" />
      </div>
      <div class="col-12">
          <label for="inputAddress" class="form-label">Pagina</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="" />
      </div>
      <div class="col-12">
          <label for="inputAddress" class="form-label">Nombre del Proyecto</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="" />
      </div>
      <div class="col-md-6">
          <label for="inputCity" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="inputCity" />
      </div>
      <div class="col-md-4">
          <label for="inputState" class="form-label">Estado</label>
          <select id="inputState" class="form-select">
              <option selected>Categoria</option>
              <option>...</option>
          </select>
      </div>
      <div class="col-md-2">
          <label for="inputZip" class="form-label">Número</label>
          <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="col-12">
          <div class="mb-3">
              <label for="formFile" class="form-label">Subir fotos</label>
              <input class="form-control" type="file" id="formFile" />
          </div>
      </div>
      <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" />
          <label class="form-check-label" for="gridCheck"> Guardar </label>
      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-primary">
              Iniciar sesion
          </button>
      </div>
      </div>
  </form>
</div>
